body{
    background-image: url(https://images.unsplash.com/photo-1498015583783-4abcab4a760a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8d2VhdGhlciUyMHNreXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
#navbar{
    background-color: skyblue;
    display: flex;
    height:50px;
    justify-content: flex-start;
    align-items: center;
}
#navbar #city{
   padding: 10px;
   width:25%;
   border: 0px;
   margin-inline-start: 30%;
   border-radius: 20px;
}
#navbar .icon{
    color: navajowhite;
    margin-left: -20px;
    cursor: pointer;
}
#navbar #logo{
    height: 40px;
    width:50px;
    margin-left: 20px;
    border-radius: 15px;
}
#navbar .icon:hover{
    color: aqua;
}
#Wheather{
    width:80%;
    margin:auto;
    display:flex;
    margin-top: 20px;
    text-align: center;
}

#wheather-Days{
    display:grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: auto;
    gap:10px
}
#map{
    margin:auto;
    padding-bottom: 10px;
}
.box{
    margin-top: 20px;
    background-color: white;
    text-align: center;
}
#weather1{
    height:40px;
    width:300px;
    border-radius: 10px;

}
.div1{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

    
}
